:root {
	--clr-dark: #293235;
	--clr-accent: #03be00;
	--clr-light: #d7dedc;
	--clr-dark-accent: #414e52;
	 --bs-img: 2px 2px 20px #d7dedc, 1px 1px 10px #d7dedc;

}



.calc-header {
    color: var(--clr-light);
    margin: 0 0 20px 0;
    padding: 0px;
    text-align: center;
    font-size: 4rem;
  }

.calc-wrapper {
    margin: 0 auto;
    width: max-content;
    display: grid;
    grid-template-columns: 150px 150px 25px 175px;
    grid-template-areas:
        "num num equal answer"
        "nums nums operators operators "
}

.calc-equal {
    margin: 0px;
    padding: 0px;

    height: 96px;
    grid-area: equal;
    font-size: 4rem;
    text-align: center;
    background: var(--clr-light);
}

.calc-num {
    margin: 0px;
    padding: 0px;
    align-self: center;
    padding-top: 24px;
    height: 96px;
    grid-area: num;
    font-size: 2rem;
    text-align: center;
    background: var(--clr-light);
}

.calc-answer {
    grid-area: answer;
    padding-top: 24px;
    align-self: center;
    height: 96px;
    font-size: 2rem;
    text-align: center;
    background: var(--clr-light);
}

.nums {
    grid-area: nums;
    align-self: start;
    display: flex;
    flex-wrap: wrap;
}

.eachnum {
    height: 96px;
    background: rgb(71, 71, 71);
    text-decoration: none;
    border: none;
    font-size: 4rem;
    width: 100px;
    color: #d7dedc;
}

.eachnum:last-child {
    width: 300px;

}
.eachnum:hover,
.eachnum:focus {
    background: gray;
}

.operators-container {
    
    grid-area: operators;
    
}

.operators {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    background: orange;
    color: white;
    font-size: 4rem;
    width: 100px;
    height: 128px;
}

.operators:hover,
.operators:focus {
    background: rgb(250, 190, 78);
}