@import './css/calc.css';
@import './css/header.css';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
  background: var(--clr-dark);

}

img { 
  width: 100%;
}


:root {
	--clr-dark: #293235;
	--clr-accent: #03be00;
	--clr-light: #d7dedc;
	--clr-dark-accent: #414e52;
	 --bs-img: 2px 2px 20px #d7dedc, 1px 1px 10px #d7dedc;

}




