@import './css/calc.css';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
  background: var(--clr-dark);

}

img { 
  width: 100%;
}


:root {
	--clr-dark: #293235;
	--clr-accent: #03be00;
	--clr-light: #d7dedc;
	--clr-dark-accent: #414e52;
	 --bs-img: 2px 2px 20px #d7dedc, 1px 1px 10px #d7dedc;

}

.logo {
  margin-left: 1em;
  width: calc(720px / 1.5);
  height: calc(152px / 1.5);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  height: 100px;
  background: var(--clr-dark);
  gap: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--clr-light);
}

.link:hover,
.link:focus {
  border-bottom: 2px solid var(--clr-light);
}

.link:last-child {
  margin-right: 1em;
}



